* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.initial {
  width: 700px;
  height: 200px;
  background-color: antiquewhite;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.title {
  height: 60px;
  font-size: calc(1vw + 10px);
  text-align: center;
}

.sub_title {
  font-size: calc(1vw + 10px);
  text-align: center;
  color: rgb(14, 14, 95);
  font-size: calc(0.25vw + 15px);
  height: 35px;
}

.warn {
  font-size: calc(1vw + 10px);
  text-align: center;
  color: crimson;
  font-size: calc(0.25vw + 15px);
  height: 35px;
}

.count {
  width: 100px;
  height: 40px;
}

.create {
  margin-top: 25px;
  width: 100px;
  height: 30px;
}

.menu {
  position: absolute;
  left: 10px;
  top: 10%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: calc(0.75vw + 7.5px);
}

.checkboxBlock {
  height: 100px;
  font-size: calc(1vw + 10px);
}

.checkboxBlock span {
  margin-left: 10px;
}

.checkboxBlock input {
  width: 20px;
  height: 20px;
}

.menu select {
  width: 200px;
  height: 40px;
  font-size: calc(0.75vw + 5px);
  text-align: center;
}

.menu button {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

.colors input {
  width: 75px;
  height: 30px;
}

.general {
  width: 725px;
  height: 725px;
  background-color: bisque; 
  display: grid;
  border: 5px solid grey;
}

.border {
  border: 0.05px solid grey;
}

.alive {
  background-color: black;
}

.dead {
  background-color: white;
}
